body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }
        label {
            display: block;
            margin-top: 10px;
            color: rgb(141, 23, 238);
        }
        input, select, button {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            margin-bottom: 10px;
            border: 1px solid #ae0707;
            border-radius: 5px;
        }
        .button-container {
            display: flex;
            justify-content: space-between;
         }
        button {
            background-color: #007BFF;
            color: rgb(0, 0, 0);
            border: none;
            cursor: pointer;
            width: 48%;
        }
        button:hover {
            background-color: #0056b3;
        }
        #limpiar {
            background-color: #eef1ed;
        }
        #limpiar:hover {
            background-color: #c82333;
        }